.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.input-group {
  width: 80%;
  margin-left: 5vw;
}

input {
  text-transform: capitalize;
}

.btn {
  float: right;
  height: 3.4vh;
  padding-top: 4px;
}

app-google-maps {
  height: 100%;
}
